<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <context:component-scan base-package="com.vote.controller" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <!--两个标准配置-->
    <!--将springMVC不能处理的请求交给tomcat处理-->
    <mvc:annotation-driven/>
    <mvc:default-servlet-handler/>


    <!--视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
          p:order="0"
          p:prefix="/WEB-INF/jsp/"
          p:suffix=".jsp"/>


<!--文件上传相关配置
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"/>
        <property name="maxUploadSize" value="10485760000"/>&lt;!&ndash;文件大小最大值&ndash;&gt;
        <property name="maxInMemorySize" value="40960"/>&lt;!&ndash;内存中的最大值&ndash;&gt;
        <property name="resolveLazily" value="true"/>&lt;!&ndash;推迟文件解析，以便捕获文件大小异常&ndash;&gt;
    </bean>-->
</beans>